<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5">
          <img src="logo.png" height="40" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Séries</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Filmes</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Livros</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Jogos</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-warning" (click)="onLogin()">{{ isLogado ? 'Sair' : 'Login' }}</button>
        </div>
      </div>
    </div>
  </header>