<div class="container my-5">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">ASSISTIR A SEGUIR</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <div class="image">
          <img src="posters/simpsons.png" width="125" height="110" />
        </div>
        <div class="infos">
          <div class="buttons">
            <button class="btn btn-secondary">{{ serieExemplo.nome }}</button>
            <button class="btn btn-warning">{{ serieExemplo.streaming }}</button>
          </div>
          <div class="texts">
            <h3>T01 -> E02</h3>
            <h4>{{ serieExemplo.descricao }}</h4>
          </div>
        </div>
        <div class="icons">
          <div class="circle missing">+30</div>
          <div class="circle check">
            <i class="bi bi-check-circle"></i>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>