<div class="container">
    <form>
        <div class="d-flex justify-content-center" >
            <img class="mb-4" src="logo.png" alt="Logo" height="57">
        </div>
        <h1 class="h3 mb-3">Login</h1>
    
        <div class="form-floating">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="nome@examplo.com">
          <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Senha">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar-me
          </label>
        </div>
        <button class="w-100 btn btn-warning py-2" type="submit">Entrar</button>
      </form>
</div>