@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.global-text-pointer {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.global-text-pointer:hover {
    color: #FFC107;
}